*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Source Sans Pro", sans-serif;
}
header{
  padding: 10px 110px;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 35px;
  height: 30px;
}
nav{
  display:flex;
  justify-content: space-between;

}
nav ul{
  list-style: none;
  display: flex;
  gap: 30px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.hero-section{
  background-image: url(./images/Object.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1093px;
}

.hero-main-text{
  margin-top: 250px;
  text-align: center;
}
h1{
  font-size: 120px;
  line-height: 100%;
  color: #fff;
  font-weight: 700;
}
.hero-main-text div{
  text-align: center;
  margin-top: 8px;
}
.hero-main-text div span{
  margin-left: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.register-btn{
  margin-top: 50px;
  text-align: center;
  background-color: #C271FF;
  color: #fff;
  height: 44px;
  width: 162px;
  border: none;
  border-radius: 22px;
  box-shadow: 0 2 20 0 rgb(0, 0, 0);
  cursor: pointer;
}
.pros-section{
  margin-top: 160px;
}
.pros-section h2{
  font-size: 32px;
  line-height: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 90px;
}
.purple-text{
  color: #C271FF;
}
.pros-container{
  display: flex;
  justify-content: center;
  height: 237px;
  gap: 120px;
 
}
.pros-profile{
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}
.pros-profile img{
  width: 150px;
  border-radius: 50%; 
}
.pros-profile div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.pros-profile h3{
  margin-top: 10px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 900;
  white-space: nowrap;
  text-align: start;
  flex: 1;
}
.pros-profile p{
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  margin-top: 5px;
  width: 190px;
  text-align: center;
}
/* first section end */

