*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Source Sans Pro", sans-serif;
}
header{
  padding: 10px 110px;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 35px;
  height: 30px;
}
nav{
  display:flex;
  justify-content: space-between;

}
nav ul{
  list-style: none;
  display: flex;
  gap: 30px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.hero-section{
  background-image: url(./images/Object.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1093px;
}

.hero-main-text{
  margin-top: 250px;
  text-align: center;
}
h1{
  font-size: 120px;
  line-height: 100%;
  color: #fff;
  font-weight: 700;
}
.hero-main-text div{
  text-align: center;
  margin-top: 8px;
}
.hero-main-text div span{
  margin-left: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.register-btn{
  margin-top: 50px;
  text-align: center;
  background-color: #C271FF;
  color: #fff;
  height: 44px;
  width: 162px;
  border: none;
  border-radius: 22px;
  box-shadow: 0 2 20 0 rgb(0, 0, 0);
  cursor: pointer;
}
.pros-section{
  margin-top: 160px;
}
.pros-section h2{
  font-size: 32px;
  line-height: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 90px;
}
.purple-text{
  color: #C271FF;
}
.pros-container{
  display: flex;
  justify-content: center;
  height: 237px;
  gap: 120px;
 
}
.pros-profile{
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}
.pros-profile img{
  width: 150px;
  border-radius: 50%; 
}
.pros-profile div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.pros-profile h3{
  margin-top: 10px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 900;
  white-space: nowrap;
  text-align: start;
  flex: 1;
}
.pros-profile p{
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  margin-top: 5px;
  width: 190px;
  text-align: center;
}
/* first section end (Header and Banner) */
.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 392px;
  background-color: #C271FF;
}
.testimonial-author{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 943px;
  gap: 50px;
}
.testimonial-user-info{
  width: 730px;
  color: #fff;
}
.testimonial-user-info blockquote{
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}
.testimonial-user-info h3{
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin-top: 30px;
}
.testimonial-user-info p{
  font-size: 22px;
  line-height: 34px;
  font-style: italic;
  font-weight: 400;
}
/*second section end (Quotes) */
.popular-tutorial-section{
  width: 1228px;
  margin: 0 auto;
  margin-top: 120px;
}
.popular-tutorial-section h2{
  font-size: 32px;
  line-height: 100%;
  color: #071629;
  font-weight: 300;
  margin-bottom: 60px;
  text-align: center;
}
.tutor-card-container{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.tutor-card{
  width: 255px;
  height: 335px;
}
.tutor-card h3{
  font-size: 16px;
  line-height: 30px;
  color: #071629;
  font-weight: 700;
  margin-top: 15px;
}
.tutor-card p{
  font-size: 14px;
  line-height: 21px;
  color: #07162980;
  font-weight: 400;
  margin-top: 10px;
}
.tutor-info{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.tutor-info .profile-picture{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.thumbnail-row{
  position: relative;
}
.play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  z-index: 100;
}
.video-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 90%;
}
.tutor-rating{
  display: flex;
  align-items: center;
  color: #C271FF;
  gap: 5px;
}
.video-info .video-time{
  font-size: 14px;
  line-height: 27px;
  color: #C271FF;
  font-weight: 600;
}
.tutor-info h4{
  font-size: 14px;
  line-height: 21px;
  color: #C271FF;
  font-weight: 700;
}
/* third section end (Videos) */
.free-membership-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-color: #071629;
  height: 502px;
}
.free-membership-section h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
}
.membership-flex-container{
  display: flex;
  gap: 130px;
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}

.membership-col{
  width: 257px;
  height: 153px;
  text-align: center;
}
.membership-col h3{
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
}
.membership-col p{
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
}
/*Fourth section end (Free Membership) */
.faq-section{
  margin-top: 100px;
  width: 100%;
}
.faq-section h2{
  font-size: 60px;
  line-height: 100%;
  color: #071629;
  font-weight: 300;
  text-align: center;
  margin-bottom: 90px;
}
.question-grid{
  display: grid;
  grid-template-columns: 350px 350px;
  justify-content: center;
  column-gap: 160px;
}
.question{
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 30px;
  font-weight: 700;
  color: #071629;
}
.answer{
  font-size: 14px;
  line-height: 24px;
  color: #07162980;
  font-weight: 400;
  margin-bottom: 70px;
}
/* Fifth section end (FAQ) */
footer{
  width: 100%;
  background-color: #071629;
  height: 249px;
  margin-top: 100px;
}
footer section{
  width: 100%;
  height: 100%;
}
.logo-social-links{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  height: 80%;
}
.social-links i {
  color: #fff;
  font-size: 24px;
  margin-left: 20px;
  text-align: center;
}
.social-links .fa-twitter {
  background-color: #fff;
  color: #071629;
  padding: 2px;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 20px;
}
 .social-links .fa-instagram{
  color: #071629;
  background-color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 50%;
  font-size: 16px;
  margin-left: 10px;
 }
 .copyright{
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
 }
/* Footer end */