body{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color : #333;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;

}
article{
    flex: 2;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
}
aside{
    flex: 1;
    overflow-y: auto;
}
header{
    background-color: #1d3557;
    color: white;
    padding: 10px 20px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #1d3557;
    color: white;
}